<template name="profile">
  <h1>{{user.username}}</h1>
  <p><strong>first name:</strong> {{user.profile.firstName}}</p>
  <p><strong>last name:</strong> {{user.profile.lastName}}</p>

  <form class='userForm'>
    <div class="form-group">
      <input type="text" name="firstName" class="form-control" placeholder="first name" value="{{user.profile.firstName}}">
    </div>
    <div class="form-group">
      <input type="text" name="lastName" class="form-control" placeholder="last name"  value="{{user.profile.lastName}}">
    </div>
    <input type="submit" name="name" value="submit" class="btn btn-default">
  </form>
</template>
