<template name="profile">
  <h1>Hello, {{user.username}}</h1>
  <h3>Edit your profile</h3>
  <form class='userForm'>
    <div class="form-group">
      <input type="text" name="firstName" class="form-control" placeholder="first name" value="{{user.profile.firstName}}">
    </div>
    <div class="form-group">
      <input type="text" name="lastName" class="form-control" placeholder="last name"  value="{{user.profile.lastName}}">
    </div>
    <input type="submit" name="name" value="submit" class="btn btn-default">
  </form>
</template>
